

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;    
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Estilos do conteúdo */
.conteudo {
    display: flex;
    align-items: center;
    position: fixed;
    width: 80%;
    background: #ffffff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos do calendário */
.calendario {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.calendario table {
    width: 100%;
    table-layout: fixed;
}

.calendario th,
.calendario td {
    width: calc(100% / 7);
    padding: 10px;
    text-align: center;
}

.conteudo .calendario header {
    position: relative;
}

.img-agd {
    position: absolute;
    top: 10px;
    left: 20px;
    margin-right: 10px;
}

.titulo-agenda {
    position: absolute;
    top: 18px;
    left: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #929292;
}

header {
    padding: 0px;
}

.subtitulo h2 {
    margin-right: 10px; 
    margin-top: 20px;
    font-size: 28px;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-esq, .btn-dir {
    display: flex;
}

.btn-esq button, .btn-dir button {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-esq button:hover, .btn-dir button:hover {
    background-color: #2980b9;
}

.btn_hoje, .btn_mes, .btn_agd {
    background-color: #2ecc71;
}

.btn_hoje:hover, .btn_mes:hover, .btn_agd:hover {
    background-color: #27ae60;
}

/* Estilo das tabelas */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    width: 14.28%;
    border: 1px solid #ddd;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* Estilo do modal de adicionar tarefas */
#eventModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#eventModal h2 {
    font-size: 1rem;
} 

#eventModal label {
    font-size: 0.8rem;
    color: black; 
    margin-bottom: 5px; 
}

#eventModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#eventModal .close:hover,
#eventModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o botão de adicionar tarefa */
#eventModal button[type="submit"] {
    font-size: 0.8rem;
    background-color: rgb(61, 132, 192);
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para o botão de adicionar tarefa quando hover */
#eventModal buttonn[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos específicos do calendário */
.calendario .mes-anterior,
.calendario .proximo-mes {
    color: #bbb9b9;
}

.calendario table .dia-atual {
    background: rgb(214, 213, 213);
    color: rgb(17, 17, 17);
    font-weight: bold;
}

.calendario tbody td {
    width: 100px;
    max-width: 50px;
    height: 80px;
    font-size: 11px;
    cursor: pointer;
    text-align: right;
    padding: 10px;
    vertical-align: top;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendario thead {
    background: white;
    font-weight: 600;
    text-transform: uppercase;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.calendario thead td {
    padding: 5px;
    height: 15px;
    font-size: 12px;
}

/* Estilo dos dias de feriado */
.holiday {
    background-color: #ffdfcc;
    color: #fa5d02;
    font-weight: bold;
}

/* Estilos específicos das tarefas */
.task {
    color: white;
    /* margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
    width: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  */
} 

.description-textarea {
    max-height: 100px;
    overflow-y: auto;
    resize: vertical;
}

.date-time-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.date-time-group label {
    flex: 1;
    margin-left: 10px;
}

.date-time-group input {
    flex: 1;
}

/* Estilo para o seletor de cores */
.color-options-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.color-options {
    margin-top: 10px;
}

/* Estilo base para as opções de cor */
.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

/* Estilo para a opção de cor selecionada */
.color-option.selected { 
    border-color: #333;
}

/* Estilo para a checkmark dentro da opção de cor */
.color-checkmark {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
}

/* Estilo para o marcador de seleção de cor quando selecionado */
.color-option.selected .color-checkmark {
    visibility: visible;
}


/* Estilo básico do modal de tarefas */
#tasksModal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Estilo do conteúdo do modal */
#tasksModal .modal-content {
    position: relative; 
    background-color: #fff; 
    color: #000; 
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888; 
    width: 80%; 
    max-width: 600px; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

/* Estilo do título do modal */
#tasksModal h2 {
    font-size: 1.5rem; 
    margin-bottom: 20px;
}

/* Estilo do botão de fechar */
#tasksModal .close-tasks-modal {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold;
    cursor: pointer; 
}

#tasksModal .close-tasks-modal:hover,
#tasksModal .close-tasks-modal:focus {
    color: black; 
    text-decoration: none;
    cursor: pointer; 
}

/* Estilo da lista de tarefas */
#tasksModal #tasksList {
    max-height: 400px;
    overflow-y: auto; 
    margin-top: 20px;
}

/* Estilo de cada tarefa na lista */
#tasksModal .task-item {
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: #f9f9f9; 
}

/* Estilo do título da tarefa */
#tasksModal .task-item h2 {
    margin: 0;
    font-size: 1rem;
}

/* Estilo da descrição da tarefa */
#tasksModal .task-item p {
    margin: 5px 0 0; 
    font-size: 0.5rem; 
    color: #666; 
}

/* Estilo da classe no JS */
/* Estilo para cada tarefa na lista de tarefas */
.agenda-task {
    display: flex; 
    align-items: center;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 2px; 
    background-color: #f9f9f9; 
}

/* Estilo para o título da tarefa */
.agenda-task h3 {
    margin: 0; 
    font-size: 0.9rem;
}

/* Estilo para as informações da tarefa */
.agenda-task p {
    margin: 0 10px; 
    font-size: 0.8rem; 
    color: #666;
}

/* Estilo para a caixa de cor da tarefa */
.agenda-task .color-box {
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
    margin-left: auto;
}

/* Estilo para o botão de fechar do modal de exibição de tarefas */
.close-tasks-modal {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    color: #aaa; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer; 
}

.close-tasks-modal:hover,
.close-tasks-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botão de fechar os models */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn_del {
    font-size: 12px;
    background-color: #d62d2d;
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn_del:hover {
    background-color: #8b1e1e;
}

/* Estilo para Modal editar tarefa */
.modal-content h2 {
    font-size: 1rem;
}

/* Estilos para o formulário de edição de eventos */
.modal-content {
    background-color: #fff;
    color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Estilos para os campos de entrada de texto */
.modal-content input[type="text"],
/* .modal-content input[type="date"], */
.modal-content textarea {
    max-width: 97%;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.date-time-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.date-time-group label {
    flex: 1;
    margin-left: 10px;
}

.date-time-group input {
    flex: 1;
}

/* Estilização do Modal de Editar a tarefa */

.event-modal-content {
    background-color: #fff;
    color: #000;

    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.event-modal-content h2 {
    font-size: 1rem;
}

/* Estilos para o botão de adicionar tarefa */
#editEventForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

/* Estilos para o botão de envio quando hover */
#editEventForm button[type="submit"]:hover {
    background-color: #0056b3;
}

#btn_close {
    background-color: #c9c8c8;
    color: #000;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8rem;
}

#btn_close:hover {
    background-color: #929292;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin-left: 10px;
}

/* Estilo para Modal editar tarefa */

#editModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#editModal label {
    font-size: 0.8rem;
    color: black;
    margin-bottom: 5px;
}

.editModal h2 {
    font-size: 1rem;
}

#editModal .close:hover,
#editModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#editModal .titulo {
    font-size: 1rem;
}

#editModal label {
    font-size: 0.8rem;
    color: black;
    margin-bottom: 5px;
}

/* Botão fechar */
#editModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#editModal .close:hover,
#editModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#editEventForm button[type="submit"] {
    font-size: 0.8rem;
    background-color: rgb(61, 132, 192);
    color: #fff;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para o botão de envio quando hover */
#editEventForm button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para o formulário de adicionar evento */
.edit-event-form {
    margin-top: 20px;
    border-radius: 5px;
}

/* Estilos para as etiquetas */
.edit-event-form label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

/* Estilos para os campos de entrada de texto */
.edit-event-form input[type="text"],
.edit-event-form textarea {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
}

.edit-event-form input[type="date"],
.edit-event-form input[type="time"] {
    max-width: 95%;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.add-event-form input[type="date"],
.add-event-form input[type="time"] {
    max-width: 95%;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

